<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>SLC Web Application</display-name>

	<!-- SERVICE servlet -->
	<servlet>
		<servlet-name>slc-service</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>slc-service</servlet-name>
		<url-pattern>*.service</url-pattern>
	</servlet-mapping>

	<!-- WS servlet -->
	<servlet>
		<servlet-name>slc-ws</servlet-name>
		<servlet-class>
			org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>slc-ws</servlet-name>
		<url-pattern>/slcService/*</url-pattern>
	</servlet-mapping>

	<!-- WEB servlet -->
	<servlet>
		<servlet-name>slc-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>slc-web</servlet-name>
		<url-pattern>*.web</url-pattern>
	</servlet-mapping>

	<!-- UI servlet -->
	<servlet>
		<servlet-name>slc-ui</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>slc-ui</servlet-name>
		<url-pattern>*.ui</url-pattern>
	</servlet-mapping>

	<!-- XSLT servlet -->
	<servlet>
		<servlet-name>xslt</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xslt</servlet-name>
		<url-pattern>*.xslt</url-pattern>
	</servlet-mapping>

	<!-- DOC servlet -->
	<servlet>
		<servlet-name>doc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>doc</servlet-name>
		<url-pattern>*.xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>doc</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>

	<!-- General -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<display-name>Spring Context</display-name>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/WEB-INF/slc-jsp/*.jsp</url-pattern>
			<page-encoding>ISO-8859-1</page-encoding>
			<include-prelude>/WEB-INF/specific/prelude.jspf</include-prelude>
			<include-coda>/WEB-INF/specific/coda.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>

	<!-- Env refs -->
	<resource-env-ref>
		<resource-env-ref-name>jdbc/mainDs</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>

	<!-- Log4j configContext loader config -->
	<listener>
		<display-name>Log4j</display-name>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>5000</param-value>
	</context-param>


	<!-- Active MQ -->
	    <!-- context config -->
    <context-param>
        <param-name>org.apache.activemq.brokerURL</param-name>
        <param-value>vm://localhost</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.activemq.embeddedBroker</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- servlet mappings -->
    
    <!-- the subscription REST servlet -->
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.MessageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--
        Uncomment this parameter if you plan to use multiple consumers over REST
        <init-param>
                <param-name>destinationOptions</param-name>
                <param-value>consumer.prefetchSize=1</param-value>
        </init-param> 
        -->

    </servlet>

    <!-- the queue browse servlet -->
    <servlet>
        <servlet-name>QueueBrowseServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.QueueBrowseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/amq/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/amqMessage/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>QueueBrowseServlet</servlet-name>
        <url-pattern>/amqQueueBrowse/*</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>session</filter-name>
      <filter-class>org.apache.activemq.web.SessionFilter</filter-class>
    </filter>
    
    <filter-mapping>
      <filter-name>session</filter-name>
      <url-pattern>/amq/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>session</filter-name>
      <url-pattern>/amqMessage/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>session</filter-name>
      <url-pattern>/amqQueueBrowse/*</url-pattern>
    </filter-mapping>
	
</web-app>
