<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<import resource="classpath:org/argeo/slc/castor/spring.xml" />

	<bean id="slcDefault.jms.castorMessageConverter" class="org.argeo.slc.jms.MarshallerMessageConverter">
		<property name="marshaller" ref="slcDefault.castor.marshaller" />
		<property name="unmarshaller" ref="slcDefault.castor.marshaller" />
	</bean>

</beans>