<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<import resource="classpath:org/argeo/slc/castor/spring.xml" />

	<!-- Http client -->
	<bean id="slcDefault.serverHttpClient"
		class="org.argeo.slc.server.client.SlcServerHttpClient" lazy-init="true">
		<property name="unmarshaller" ref="slcDefault.castor.marshaller" />
	</bean>
</beans>