<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<import
		resource="classpath:/org/argeo/slc/core/test/spring/applicationContext.xml" />
	<import
		resource="classpath:/org/argeo/slc/ws/client/spring/applicationContext.xml" />


	<bean id="exampleDefault.ws.client.webServiceTemplate"
		parent="slcTemplate.ws.client.webServiceTemplate">
		<constructor-arg ref="slcDefault.ws.client.messageFactory" />
		<property name="defaultUri" value="${slc.ws.uri}" />
	</bean>

	<bean name="exampleDefault.ws.client.slcExecutionNotifier"
		parent="slcDefault.ws.client.slcExecutionNotifier">
		<property name="template"
			ref="exampleDefault.ws.client.webServiceTemplate" />
	</bean>

	<bean name="exampleDefault.ws.client.treeTestResultWsNotfier"
		parent="slcDefault.ws.client.treeTestResultWsNotfier">
		<property name="template"
			ref="exampleDefault.ws.client.webServiceTemplate" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="systemPropertiesModeName"
			value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="properties">
			<props>
				<prop key="slc.ws.uri">
					http://localhost:9090/org.argeo.slc.webapp/slcService/
				</prop>
			</props>
		</property>
	</bean>

</beans>