<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="org.argeo.slc.launch.slcScriptLaunchType"
	   name="SLC Script"
	   delegate="org.argeo.slc.ui.launch.script.SlcScriptLaunchDelegate"
	   modes= "run, debug">
   </launchConfigurationType>
</extension>
<extension
      point="org.eclipse.debug.ui.launchShortcuts">
   <shortcut
         class="org.argeo.slc.ui.launch.osgi.SlcLaunchShortcut"
         icon="icons/slcScriptLaunch.gif"
         id="org.argeo.slc.ui.launch.slcOsgiLaunchShortcut"
         label="SLC"
         modes="run,debug">
    
         <contextualLaunch>
            <enablement>
               <with variable="selection">
	                  <iterate>
	                  	<and>
		                  	<test property="org.eclipse.debug.ui.projectNature" value="org.eclipse.pde.PluginNature"/>
                       		<or>
                       		<adapt type="org.eclipse.core.resources.IProject"/>
                       		<test property="org.eclipse.debug.ui.matchesPattern" value="MANIFEST.MF"/>
                       		</or>
                   		 </and>
		              </iterate>
               </with>
           </enablement>
         </contextualLaunch>         
   </shortcut>
   <!--
   <shortcut
         class="org.argeo.slc.ui.launch.script.SlcScriptLaunchShortcut"
         icon="icons/slcScriptLaunch.gif"
         id="org.argeo.slc.ui.launch.slcScriptLaunchShortcut"
         label="SLC script"
         modes="run,debug">
    
        <contextualLaunch>
           <enablement>
             <with variable="selection">
                <count value="1"/>
               <iterate>
               <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.xml"/>
                   </or>
                </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
   </shortcut>
   <shortcut
         class="org.argeo.slc.ui.launch.script.SlcScriptLaunchShortcutWithDialog"
         icon="icons/slcScriptLaunch.gif"
         id="org.argeo.slc.ui.launch.slcScriptLaunchShortcutWithDialog"
         label="SLC script..."
         modes="run,debug">
    
        <contextualLaunch>
           <enablement>
             <with variable="selection">
                <count value="1"/>
               <iterate>
               <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.xml"/>
                   </or>
                </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
   </shortcut>
-->
</extension>
<!--
<extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
   <launchConfigurationTabGroup
         class="org.argeo.slc.ui.launch.script.SlcScriptLaunchConfigurationTabGroup"
         id="org.argeo.slc.ui.launch.slcScriptLaunchConfigurationTabGroup1"
         type="org.argeo.slc.launch.slcScriptLaunchType">
   </launchConfigurationTabGroup>
</extension>
-->
<!-- See http://www.eclipseplugincentral.com/PNphpBB2-printview-t-4335-start-0.html -->
<extension point="org.eclipse.core.runtime.adapters">
<factory adaptableType="org.eclipse.core.resources.IResource" class="">
<adapter type="org.eclipse.debug.ui.actions.ILaunchable "/>
</factory>
</extension>
<!--
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.argeo.slc.ui.launch.preferences.SlcPreferencePage"
         id="org.argeo.slc.ui.slcPreferencePage"
         name="SLC">
   </page>
</extension>
-->
<extension
      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   <launchConfigurationTypeImage
         configTypeID="org.argeo.slc.launch.slcScriptLaunchType"
         icon="icons/slcScriptLaunch.gif"
         id="org.argeo.slc.launch.slcScriptLaunchTypeImage">
   </launchConfigurationTypeImage>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.argeo.slc.ui.launch.SlcPerspectiveFactory"
         icon="icons/slcScriptLaunch.gif"
         id="org.argeo.slc.ui.slcPerspective"
         name="SLC">
   </perspective>
</extension>
<extension
      point="org.eclipse.pde.core.targets">
   <target
         definition="slc-sdk.target"
         id="org.argeo.slc.ui.launch.targetSlcSdk"
         name="SLC SDK">
   </target>
</extension> 
</plugin>
