<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	
   <extension
         point="org.eclipse.ui.views">
   <view
         id="org.argeo.slc.client.ui.executionModulesView"
         class="org.argeo.eclipse.spring.SpringExtensionFactory"
         name="Execution Modules"
         restorable="true">
   </view>
   <view
         id="org.argeo.slc.client.ui.resultListView"
         class="org.argeo.eclipse.spring.SpringExtensionFactory"
         name="Results"
         restorable="true">
   </view>
   <view
         id="org.argeo.slc.client.ui.processListView"
         class="org.argeo.eclipse.spring.SpringExtensionFactory"
         name="Process List"
         restorable="true">
   </view>
   <view
         id="org.argeo.slc.client.ui.processBuilderView"
         class="org.argeo.eclipse.spring.SpringExtensionFactory"
         name="Process Builder"
         restorable="true">
   </view>
    </extension>

   <extension
         point="org.eclipse.ui.commands">
       <!--defaultHandler="org.argeo.slc.client.ui.commands.RefreshHandler" -->
      <command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.slc.client.ui.RefreshResultList"
            name="RefreshResultList ">
      </command>
   </extension>
   <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.argeo.slc.client.ui.RefreshResultList"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+R">
     </key>
  </extension>
   
   <extension
         id="menu:org.eclipse.ui.main.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=fileMenu">
         <menu
               id="slcMenu"
               label="SLC">
            <command
                  commandId="org.argeo.slc.client.ui.RefreshResultList"
                  label="Refresh"
                  style="push"
                  tooltip="Refresh  the result list">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.argeo.slc.client.ui.ResultViewToolbar">
            <command
                  commandId="org.argeo.slc.client.ui.RefreshResultList"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="toggle"
                  tooltip="Refresh the result list">
            </command>
            <separator
                  name="resultListViewGroup">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
