<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Argeo Studio">
         <property
               name="windowImages"
               value="icons/argeo-icon-16.png,icons/argeo-icon-32.png,icons/argeo-icon-48.png,icons/argeo-icon-64.png,icons/argeo-icon-128.png,icons/argeo-icon-256.png">
         </property>
         <property
               name="aboutText"
               value="Argeo Studio - IDE and management tool focused on Argeo-based application development and deployment">
         </property>
         <property
               name="aboutImage"
               value="img/argeo-ITSE.png">
         </property>
         <property
               name="appName"
               value="Argeo Studio">
         </property>
 		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
          value="platform:/plugin/org.eclipse.ui.themes/images/">
		  </property>
    <property
          name="startupProgressRect"
          value="0,295,600,5">
    </property>
    <property
          name="startupForegroundColor"
          value="00294b">
    </property>
    <property
          name="startupMessageRect"
          value="5,270,600,20">
    </property>
    <property
          name="preferenceCustomization"
          value="plugin_customization.ini">
    </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.slc.studio.ui.ArgeoStudioPerspective"
            fixed="false"
            icon="icons/argeo-icon-16.png"
            id="org.argeo.slc.studio.ui.perspective"
            name="Argeo Studio">
      </perspective>
   </extension>
   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
            targetID="org.argeo.slc.studio.ui.perspective">
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet
                id="org.eclipse.debug.ui.launchActionSet">
          </actionSet>
          <showInPart
                id="org.eclipse.jdt.ui.PackageExplorer">
          </showInPart>
          <showInPart
                id="org.eclipse.ui.navigator.ProjectExplorer">
          </showInPart>
         <showInPart
               id="org.eclipse.team.ui.GenericHistoryView">
         </showInPart>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.jdt.ui.JavaPerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.debug.ui.DebugPerspective">
          </perspectiveShortcut>
          <viewShortcut
                id="org.eclipse.ui.console.ConsoleView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.PluginsView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ProblemView">
          </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ContentOutline">
          </viewShortcut>
          <newWizardShortcut
                id="org.eclipse.pde.ui.NewProductConfigurationWizard">
          </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.pde.ui.NewProfileWizard">
         </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.ui.wizards.new.file">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.ui.wizards.new.folder">
          </newWizardShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.ImageBrowserView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.DependenciesView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.runtime.RegistryBrowser">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.jdt.ui.PackageExplorer">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.runtime.LogView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.TargetPlatformState">
          </viewShortcut>
      </perspectiveExtension>
    </extension>
</plugin>
