<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <import resource="classpath:/META-INF/spring/slc-detached.xml" />
    <import resource="classpath:/org/argeo/slc/lib/detached/spring.xml" />

    <bean id="detachedTestDef"
        class="org.argeo.slc.lib.detached.DetachedTestDefinition">
        <property name="client" ref="slcDetached.driver" />
        <property name="step" ref="jemmyTest" />
    </bean>

    <bean id="slcDetached.driver"
        class="org.argeo.slc.detached.drivers.FileDriver">
        <property name="baseDir" value="file:${slc.workDir}/detached" />
        <property name="xmlConverter"
            ref="slcDefault.detached.xmlConverterCastor" />
    </bean>

    <bean id="detachedTestData1"
        class="org.argeo.slc.lib.detached.DetachedTestData"
        scope="prototype">
        <property name="values">
            <map>
                <entry key="jemmyTest.label" value="Hello World" />
            </map>
        </property>
        <property name="expectedValues">
            <map>
                <entry key="jemmyTest.label" value="Pressed!!" />
            </map>
        </property>
    </bean>

    <bean id="detachedTestData2"
        class="org.argeo.slc.lib.detached.DetachedTestData"
        scope="prototype">
        <property name="values">
            <map>
                <entry key="jemmyTest.label" value="Pressed!!" />
            </map>
        </property>
        <property name="expectedValues">
            <map>
                <entry key="jemmyTest.label" value="Hello World" />
            </map>
        </property>
    </bean>
</beans>