<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            id="org.argeo.cms.ui.workbench.rap.secureEntryPoint"
            class="org.argeo.cms.ui.workbench.rap.RapWorkbenchLogin"
            path="/node"
            brandingId="org.argeo.cms.ui.workbench.rap.defaultBranding">
      </entrypoint>
      <entrypoint
            id="org.argeo.cms.ui.workbench.rap.anonymousEntryPoint"
            class="org.argeo.cms.ui.workbench.rap.AnonymousEntryPoint"
            path="/public"
            brandingId="org.argeo.cms.ui.workbench.rap.defaultBranding">
      </entrypoint>
      <entrypoint
            brandingId="org.argeo.cms.ui.workbench.rap.defaultBranding"
            class="org.argeo.cms.ui.workbench.rap.SpnegoWorkbenchLogin"
            id="org.argeo.cms.ui.workbench.rap.loginEntryPoint"
            path="/login">
      </entrypoint>
<!--      <entrypoint
            id="org.argeo.cms.ui.workbench.rap.secureEntryPoint"
            class="org.argeo.security.ui.rap.RapWorkbenchLogin"
            path="/login"
            brandingId="org.argeo.cms.ui.workbench.rap.defaultBranding">
      </entrypoint> -->
   </extension>

	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
		<command
			id="org.argeo.cms.ui.workbench.rap.mainMenuCommand"
			defaultHandler="org.argeo.cms.ui.workbench.rap.commands.OpenHome"
			name="Main"> 
		</command>
		<command
			id="org.argeo.cms.ui.workbench.rap.openChangePasswordDialog"
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			name="%changePassword">
		</command>
		<!-- Enable an "open file" action in a single sourced application  -->  
		<command
			id="org.argeo.cms.ui.workbench.openFile"
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			name="OpenFile">
			<commandParameter
         		id="param.fileName"
         		name="The name of the file to open (optional)">
  	 		</commandParameter>
            <commandParameter
         		id="param.fileURI"
         		name="The URI of this file on the server">
  	 		</commandParameter>
		</command>
 	</extension>

	<!-- MENUS --> 
	<extension point="org.eclipse.ui.menus">
    	<!-- Main tool bar menu -->
    	<!--
    	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
        	<toolbar id="org.argeo.cms.ui.workbench.rap.userToolbar">
				<command
					commandId="org.argeo.cms.ui.workbench.rap.mainMenuCommand"
					icon="icons/home.gif"
					id="org.argeo.cms.ui.workbench.rap.mainMenu"
					style="pulldown">
				</command>
				<command commandId="org.eclipse.ui.file.save"/>
				<command commandId="org.eclipse.ui.file.saveAll"/>
			</toolbar>
		</menuContribution>
		-->
    	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
        	<toolbar id="org.argeo.cms.ui.workbench.userToolbar">
				<command
					commandId="org.argeo.cms.ui.workbench.rap.mainMenuCommand"
					icon="icons/home.png"
					id="org.argeo.cms.ui.workbench.rap.mainMenu"
					style="pulldown">
				</command>
				<command commandId="org.eclipse.ui.file.save" icon="icons/save.png"/>
				<command commandId="org.eclipse.ui.file.saveAll" icon="icons/save-all.png"/>
			</toolbar>
		</menuContribution>
		
		<!-- User drop down default menu -->
		<menuContribution locationURI="menu:org.argeo.cms.ui.workbench.rap.mainMenu">
			<!-- Managed programmatically in the RapActionBarAdvisor to enable 
			     the display of the current logged-in user id -->
			<command
				commandId="org.argeo.cms.ui.workbench.rap.userMenuCommand"
				icon="icons/person-logged-in.png"
				id="org.argeo.cms.ui.workbench.rap.userMenu">
			</command>
			<!-- Still unused
			<command
				commandId="org.eclipse.ui.window.preferences"
				icon="icons/preferences.png"/> -->
        	<command
				commandId="org.argeo.cms.ui.workbench.rap.openChangePasswordDialog"
				icon="icons/security.gif"
				label="%changePassword"/>
			<separator
				name="org.argeo.cms.ui.workbench.rap.beforeFile"
				visible="true">
			</separator>
			<command commandId="org.eclipse.ui.file.closeAll" icon="icons/close-all.png"/>
			<command commandId="org.eclipse.ui.file.save" icon="icons/save.png"/>
			<command commandId="org.eclipse.ui.file.saveAll" icon="icons/save-all.png"/>
	
			<!--<command commandId="org.eclipse.ui.views.showView"/>-->
    		<command commandId="org.eclipse.ui.perspectives.showPerspective"/>
			<separator
				name="org.argeo.cms.ui.workbench.rap.beforeExit"
				visible="true">
			</separator>
			<command commandId="org.eclipse.ui.file.exit" icon="icons/exit.png"/>
		</menuContribution>
	</extension>
		
    <!-- SERVICE HANDLERS --> 
	<extension point="org.eclipse.rap.ui.serviceHandler">
		<!-- Rap specific service handler to enable file download over the internet-->
		<serviceHandler
			class="org.argeo.eclipse.ui.specific.OpenFileService"
			id="org.argeo.security.ui.specific.openFileService">
		</serviceHandler>
	</extension>
    
    <!-- ACTIVITIES -->
  	<extension
           point="org.eclipse.ui.activities">
        <activity
              description="Anonymous"
              id="org.argeo.cms.ui.workbench.rap.anonymousActivity"
              name="Anonymous">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=anonymous,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <activity
              description="Not anonymous"
              id="org.argeo.cms.ui.workbench.rap.notAnonymousActivity"
              name="NotAnonymous">
		  <enabledWhen>
		  	<not>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=anonymous,ou=roles,ou=node" />
		      </iterate>
		    </with>
		    </not>
		  </enabledWhen>
        </activity>
		<activityPatternBinding
              activityId="org.argeo.cms.ui.workbench.rap.notAnonymousActivity"
              pattern="org.argeo.cms.ui.workbench.rap/org.argeo.cms.ui.workbench.rap.userMenuCommand"/>         
        <activityPatternBinding
              activityId="org.argeo.cms.ui.workbench.rap.notAnonymousActivity"
              pattern="org.argeo.cms.ui.workbench.rap/org.eclipse.ui.window.preferences"/>
        <activityPatternBinding
              activityId="org.argeo.cms.ui.workbench.rap.notAnonymousActivity"
              pattern="org.argeo.cms.ui.workbench.rap/org.argeo.cms.ui.workbench.rap.openChangePasswordDialog"/>
     </extension>
    
    <!-- BRANDINGS --> 
     <extension
         point="org.eclipse.rap.ui.branding">
    	<branding
			id="org.argeo.cms.ui.workbench.rap.defaultBranding"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="Argeo Web UI"
            favicon="branding/favicon.ico">
      	</branding>
      	<!-- we need a servlet with this name j_spring_security_logout
      		 for the logout filter -->
    	<branding
			id="org.argeo.cms.ui.workbench.rap.logoutBranding"
            title="Argeo Logout"
            favicon="branding/favicon.ico"
            body="branding/empty.html">
      	</branding>
   	</extension>
</plugin>
