/* Generic Selectors */
body {
	font-family: sans-serif;
	font-size: 12px;
	color: black;
	background-color: white;
}

li {
	list-style-type: none;
}

h1 {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

h2 {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	margin-top: 5px;
}

/* Special titles */
h3.executionStep{
	font-family: sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #000000;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	margin-top: 5px;
}

table,form {
	margin: 0px;
}

img {
	border: none;
}

div {
	font-size: 100%;
}

tr.list:hover {
	background-color: lightgrey;
}

td.list {
	border-top: 1px solid lighgrey;
	padding: 2px 20px 2px 2px;
	padding-right: 15px;
}

th {
	font-size: 12px;
	padding: 2px 20px 2px 2px;
	vertical-align: top;
	text-align: left;
}

td {
	font-size: 12px;
	padding: 1px;
	vertical-align: middle;
	text-align: left;
}

.passed {
	color: green;
}

.failed {
	color: red;
}

/**************** Navigation ****************/
td.nav1 {
	padding: 5px 0px 0px 0px;
	font-size: 12px;
	font-weight: bold;
}

td.nav2 {
	padding: 0px 0px 0px 5px;
	font-size: 12px;
}

/**************** Forms ****************/
input.submit {
	border: solid 1px grey;
	background-color: lightgrey;
	align: right;
}

input.submit:hover {
	border: solid 1px #3399FF;
	background-color: white;
	color: #3399FF;
}

input.std {
	border: solid 1px lightgrey;
	padding: 1px;
	margin: 2px;
}

.formError {
	color: red;
	padding: 1px;
	margin: 2px;
	font-weight: bold;
}

/**************** Pseudo classes ****************/
a:link {
	color: #0066CC;
	text-decoration: none;
}

a:visited {
	color: #0066CC;
	text-decoration: none;
}

a:hover {
	color: #3399FF;
	text-decoration: none;
}

/************************* ID's *************************/
#main {
	position: absolute;
	margin-left: 120px;
	padding-top: 110px;
}

#navigation {
	position: absolute;
	width: 100px;
	height: 800px;
	border-right: 1px solid #0066CC;
	font-weight: normal;
	margin-top: 110px;
	margin-left: 10px;
}

#banner {
	position: absolute;
	width: 400px;
	height: 100px;
}

#upperRight {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 10px;
}