<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classpath:/org/argeo/slc/spring/templates.xml" />

	<bean id="sessionFactory"
		parent="slcTemplates.sessionFactory.hibernateTestHSQL">
	</bean>

	<bean id="treeSPathDao"
		class="org.argeo.slc.hibernate.structure.tree.TreeSPathDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="treeSRegistryDao"
		class="org.argeo.slc.hibernate.structure.tree.TreeSRegistryDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="testResultDao"
		class="org.argeo.slc.hibernate.test.tree.TestResultDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="slcExecutionDao"
		class="org.argeo.slc.hibernate.process.SlcExecutionDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>