<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import
		resource="classpath:/org/argeo/slc/hibernate/spring/applicationContext.xml" />

	<bean id="sessionFactory"
		parent="slcDefault.sessionFactory.hibernateTestHSQL">
	</bean>

	<bean id="testResultDao"
		parent="slcTemplates.dao.testResultDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="slcExecutionDao"
		parent="slcTemplates.dao.slcExecutionDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="treeSPathDao"
		parent="slcTemplates.dao.treeSPathDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="treeSRegistryDao"
		parent="slcTemplates.dao.treeSRegistryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>