<!--

    Copyright (C) 2007-2012 Argeo GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
    default-lazy-init="true">

    <bean id="slcTemplate.detached.testDefinition"
        class="org.argeo.slc.lib.detached.DetachedTestDefinition"
        abstract="true">
    </bean>

    <bean id="slcDefault.detached.xmlConverterCastor"
        class="org.argeo.slc.lib.detached.DetachedXmlConverterSpring">
        <property name="marshaller"
            ref="slcDefault.detached.castor.marshaller" />
        <property name="unmarshaller"
            ref="slcDefault.detached.castor.marshaller" />
    </bean>

    <bean id="slcDefault.detached.castor.marshaller"
        class="org.springframework.oxm.castor.CastorMarshaller">
        <property name="mappingLocations">
            <list>
                <value>
                    classpath:org/argeo/slc/lib/detached/castor.xml
                </value>
            </list>
        </property>
        <property name="whitespacePreserve" value="true" />
    </bean>

    <bean id="slcDefault.detached.xml.xsdValidator"
        factory-bean="slcDefault.detached.xml.xsdSchema"
        factory-method="createValidator" />

    <bean id="slcDefault.detached.xml.xsdSchema"
        class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd"
            value="classpath:/org/argeo/slc/detached/slc-detached.xsd" />
    </bean>

</beans>
