<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dummyTestDefinition"
		class="org.argeo.slc.testslc.DummyTestDefinition" scope="prototype">
	</bean>

	<bean id="dummyTestDataOK"
		class="org.argeo.slc.testslc.DummyTestData" scope="prototype">
		<property name="expected" value="value1" />
		<property name="reached" value="value1" />
	</bean>

	<bean id="dummyTestDataNOK"
		class="org.argeo.slc.testslc.DummyTestData" scope="prototype">
		<property name="expected" value="value1" />
		<property name="reached" value="value2" />
	</bean>

	<bean id="dummyTestDataObjOK"
		class="org.argeo.slc.testslc.DummyTestData" scope="prototype">
		<property name="expected" ref="dummyTestDataObject1" />
		<property name="reached" ref="dummyTestDataObject1" />
	</bean>

	<bean id="dummyTestDataObjNOK"
		class="org.argeo.slc.testslc.DummyTestData" scope="prototype">
		<property name="expected" ref="dummyTestDataObject1" />
		<property name="reached" ref="dummyTestDataObject2" />
	</bean>

	<bean id="dummyTestDataObject1"
		class="org.argeo.slc.testslc.DummyTestDataObject" scope="prototype">
		<property name="value" value="dummy1" />
	</bean>

	<bean id="dummyTestDataObject2"
		class="org.argeo.slc.testslc.DummyTestDataObject" scope="prototype">
		<property name="value" value="dummy2" />
	</bean>

</beans>