<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="java"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Argeo Java IDE">
         <property
               name="windowImages"
               value="icons/argeo-icon-100104-256.png,icons/argeo-icon-100104-256.png,icons/argeo-icon-100104-256.png,icons/argeo-icon-100104-256.png,icons/argeo-icon-100104-256.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="0066D0">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="Argeo Java IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.argeo.slc.ide.SlcPerspectiveFactory"
         icon="icons/argeo-icon-100104-256.png"
         id="org.argeo.slc.ide.slcPerspective"
         name="SLC">
   </perspective>
</extension>
<extension
      point="org.eclipse.pde.core.targets">
   <target
         definition="slc-sdk-dev.target"
         id="org.argeo.slc.ide.targetSlcSdkDev"
         name="SLC SDK (devpt)">
   </target>
</extension> 
<extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.argeo.slc.ide.mainPreferencePage" 
         name="SLC" 
         class="org.argeo.slc.ide.preferences.SlcMainPreferencePage"> 
       </page> 
</extension> 

</plugin>
