<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="SLC SDK (devpt)">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.argeo.server.jackrabbit" version="0.1.2.r3231"/>
<unit id="com.springsource.javax.activation" version="1.1.1"/>
<unit id="com.springsource.net.sf.cglib" version="2.1.3"/>
<unit id="org.argeo.slc.server.hibernate" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.slc.dep.server" version="0.12.1.SNAPSHOT"/>
<unit id="org.springframework.jms" version="2.5.6.SEC01"/>
<unit id="com.springsource.javax.xml.stream" version="1.0.1"/>
<unit id="org.springframework.context" version="2.5.6.SEC01"/>
<unit id="org.argeo.slc.support.ant" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.log4j" version="1.2.15"/>
<unit id="com.springsource.javax.xml.soap" version="1.3.0"/>
<unit id="org.springframework.oxm" version="1.5.8.A"/>
<unit id="org.springframework.osgi.io" version="1.2.0"/>
<unit id="org.argeo.dep.osgi.springframework.ldap" version="1.3.0.0003"/>
<unit id="com.springsource.org.apache.commons.httpclient" version="3.1.0"/>
<unit id="com.springsource.javax.servlet" version="2.5.0"/>
<unit id="com.springsource.org.apache.directory.server.changepw" version="1.0.2"/>
<unit id="com.springsource.org.apache.commons.fileupload" version="1.2.1"/>
<unit id="org.argeo.slc.sdk.feature.jar" version="0.12.1.qualifier"/>
<unit id="org.argeo.slc.dep.agent" version="0.12.1.SNAPSHOT"/>
<unit id="com.springsource.javax.xml.rpc" version="1.1.0"/>
<unit id="org.argeo.server.hsqldb" version="0.1.2.r3231"/>
<unit id="org.argeo.security.mvc" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.server.hsqldb" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.transaction" version="2.5.6.SEC01"/>
<unit id="com.springsource.org.dom4j" version="1.6.1"/>
<unit id="com.springsource.org.apache.catalina.springsource" version="6.0.20.S2-r5956"/>
<unit id="org.argeo.server.jdbc" version="0.1.2.r3231"/>
<unit id="com.springsource.org.apache.oro" version="2.0.8"/>
<unit id="org.argeo.dep.osgi.mina.filter.ssl" version="1.0.2.0001"/>
<unit id="com.springsource.org.apache.coyote.springsource" version="6.0.20.S2-r5956"/>
<unit id="com.springsource.edu.oswego.cs.dl.util.concurrent" version="1.3.4"/>
<unit id="com.springsource.org.apache.directory.server.core" version="1.0.2"/>
<unit id="com.springsource.org.hsqldb" version="1.8.0.10"/>
<unit id="org.eclipse.osgi" version="3.5.1.R35x_v20090827"/>
<unit id="com.springsource.org.apache.jasper.springsource" version="6.0.20.S2-r5956"/>
<unit id="com.springsource.com.lowagie.text" version="2.0.8"/>
<unit id="com.springsource.javax.servlet.jsp" version="2.1.0"/>
<unit id="org.argeo.osgi.boot" version="0.1.2.r3231"/>
<unit id="com.springsource.org.apache.xalan" version="2.7.1"/>
<unit id="com.springsource.org.apache.commons.lang" version="2.4.0"/>
<unit id="com.springsource.org.apache.directory.server.ntp" version="1.0.2"/>
<unit id="org.argeo.slc.support.castor" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.slc.agent.ext.xalan" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.server.ads.server" version="0.1.2.r3231"/>
<unit id="com.springsource.org.antlr" version="3.0.1"/>
<unit id="org.argeo.slc.lib.detached" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.jdbc" version="2.5.6.SEC01"/>
<unit id="org.argeo.security.manager.ldap" version="0.1.2.r3231"/>
<unit id="com.springsource.antlr" version="2.7.6"/>
<unit id="org.argeo.dep.osgi.commons.cli" version="1.1.0.0002"/>
<unit id="org.argeo.dep.osgi.activemq" version="5.2.0.0006"/>
<unit id="org.argeo.dep.osgi.catalina.start" version="1.0.0.argeo4"/>
<unit id="com.springsource.org.apache.directory.server.kerberos.shared" version="1.0.2"/>
<unit id="com.springsource.json" version="1.0.1.RELEASE"/>
<unit id="com.springsource.org.apache.bsf" version="2.4.0"/>
<unit id="org.argeo.slc.server.activemq" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.commons.logging" version="1.1.1"/>
<unit id="org.argeo.server.mysql" version="0.1.2.r3231"/>
<unit id="org.argeo.security.webapp" version="0.1.2.r3231"/>
<unit id="com.springsource.org.quartz" version="1.6.2"/>
<unit id="com.springsource.javax.annotation" version="1.0.0"/>
<unit id="org.argeo.slc.server.jms" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.slf4j.log4j" version="1.5.6"/>
<unit id="com.springsource.org.hibernate" version="3.3.1.GA"/>
<unit id="com.springsource.javax.management.j2ee" version="1.0.1"/>
<unit id="org.argeo.slc.webapp" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.jasper.org.eclipse.jdt.springsource" version="6.0.20.S2-r5956"/>
<unit id="org.springframework.osgi.core" version="1.2.0"/>
<unit id="com.springsource.javax.xml.ws" version="2.1.1"/>
<unit id="com.springsource.org.aopalliance" version="1.0.0"/>
<unit id="org.argeo.slc.agent.jms" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.directory.server.jndi" version="1.0.2"/>
<unit id="org.argeo.server.core" version="0.1.2.r3231"/>
<unit id="com.springsource.org.apache.commons.net" version="1.4.1"/>
<unit id="com.springsource.jxl" version="2.6.6"/>
<unit id="com.springsource.javax.transaction" version="1.1.0"/>
<unit id="com.springsource.org.codehaus.jackson.mapper" version="1.0.0"/>
<unit id="com.springsource.javax.ejb" version="3.0.0"/>
<unit id="org.springframework.web" version="2.5.6.SEC01"/>
<unit id="com.springsource.net.sourceforge.jtds" version="1.2.2"/>
<unit id="com.springsource.org.apache.ws.commons.schema" version="1.3.2"/>
<unit id="com.springsource.org.apache.commons.io" version="1.4.0"/>
<unit id="org.argeo.slc.dep.detached" version="0.12.1.SNAPSHOT"/>
<unit id="com.springsource.org.apache.directory.shared.ldap" version="0.9.5.5"/>
<unit id="com.springsource.javax.el" version="1.0.0"/>
<unit id="com.springsource.org.apache.juli.extras.springsource" version="6.0.20.S2-r5956"/>
<unit id="com.springsource.slf4j.org.apache.commons.logging" version="1.5.6"/>
<unit id="com.springsource.org.aspectj.runtime" version="1.6.3.RELEASE"/>
<unit id="com.springsource.javassist" version="3.3.0.ga"/>
<unit id="org.argeo.server.ads" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.agent" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.xmlpull" version="1.1.3.4-O"/>
<unit id="org.argeo.server.catalina" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.support.hibernate" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.jcifs" version="1.2.15"/>
<unit id="com.springsource.com.jcraft.jsch" version="0.1.31"/>
<unit id="org.argeo.server.jackrabbit.webdav" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.support.simple" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.directory.server.core.shared" version="1.0.2"/>
<unit id="org.argeo.slc.specs" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.mortbay.util" version="6.1.9"/>
<unit id="com.springsource.javax.jms" version="1.1.0"/>
<unit id="com.springsource.org.aspectj.weaver" version="1.6.3.RELEASE"/>
<unit id="org.springframework.context.support" version="2.5.6.SEC01"/>
<unit id="com.springsource.org.apache.lucene" version="2.4.1"/>
<unit id="com.springsource.com.mysql.jdbc" version="5.1.6"/>
<unit id="com.springsource.org.apache.tools.ant" version="1.7.1"/>
<unit id="com.springsource.org.mortbay.jetty.server" version="6.1.9"/>
<unit id="com.springsource.org.apache.taglibs.standard" version="1.1.2"/>
<unit id="org.argeo.slc.server.agentproxy" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.slc.server.services" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.core" version="2.5.6.SEC01"/>
<unit id="org.argeo.slc.server.main" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.slf4j.api" version="1.5.6"/>
<unit id="org.springframework.security" version="2.0.4.A"/>
<unit id="org.argeo.basic.nodeps" version="0.1.2.r3231"/>
<unit id="com.springsource.org.objectweb.asm.attrs" version="2.2.3"/>
<unit id="com.springsource.org.codehaus.jackson" version="1.0.0"/>
<unit id="org.springframework.osgi.web" version="1.2.0"/>
<unit id="org.argeo.slc.support.activemq" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.web.servlet" version="2.5.6.SEC01"/>
<unit id="com.springsource.javax.xml.bind" version="2.1.7"/>
<unit id="com.springsource.org.apache.tools.ant.launch" version="1.7.1"/>
<unit id="com.springsource.net.sf.ehcache" version="1.6.2"/>
<unit id="org.argeo.server.webextender" version="0.1.2.r3231"/>
<unit id="com.springsource.org.apache.regexp" version="1.5.0"/>
<unit id="com.springsource.org.apache.derby" version="10.5.1000001.764942"/>
<unit id="com.springsource.org.apache.directory.server.kerberos" version="1.0.2"/>
<unit id="com.springsource.com.thoughtworks.xstream" version="1.2.2"/>
<unit id="org.argeo.server.jackrabbit.repo" version="0.1.2.r3231"/>
<unit id="com.springsource.javax.servlet.jsp.jstl" version="1.1.2"/>
<unit id="com.springsource.javax.persistence" version="1.0.0"/>
<unit id="org.argeo.slc.agent.ext.bsf" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.slc.detached" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.slc.server.mysql" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.osgi.extender" version="1.2.0"/>
<unit id="com.springsource.org.apache.commons.pool" version="1.5.3"/>
<unit id="com.springsource.org.apache.commons.codec" version="1.3.0"/>
<unit id="com.springsource.org.tmatesoft.svn" version="1.3.1.6109"/>
<unit id="org.springframework.osgi.web.extender" version="1.2.0"/>
<unit id="com.springsource.org.apache.xmlbeans" version="2.4.0"/>
<unit id="com.springsource.org.apache.xml.serializer" version="2.7.1"/>
<unit id="org.argeo.slc.server.castor" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.xml.resolver" version="1.2.0"/>
<unit id="com.springsource.org.jgroups" version="2.2.8"/>
<unit id="com.springsource.org.objectweb.asm" version="2.2.3"/>
<unit id="com.springsource.org.apache.commons.dbcp" version="1.2.2.osgi"/>
<unit id="com.springsource.javax.mail" version="1.4.1"/>
<unit id="com.springsource.org.apache.mina" version="1.0.2"/>
<unit id="org.springframework.beans" version="2.5.6.SEC01"/>
<unit id="org.springframework.xml" version="1.5.8.A"/>
<unit id="com.springsource.junit" version="3.8.2"/>
<unit id="com.springsource.org.apache.directory.server.ldap" version="1.0.2"/>
<unit id="org.argeo.dep.osgi.jcr" version="1.0.0.0001"/>
<unit id="com.springsource.jdbm" version="1.0.0"/>
<unit id="org.springframework.orm" version="2.5.6.SEC01"/>
<unit id="com.springsource.org.apache.el.springsource" version="6.0.20.S2-r5956"/>
<unit id="org.argeo.server.json" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.agent.ext.jdbc" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.edu.emory.mathcs.backport" version="2.2.0"/>
<unit id="org.argeo.dep.osgi.activemq.optional" version="5.2.0.0001"/>
<unit id="org.argeo.dep.osgi.commons.exec" version="1.0.0.0002"/>
<unit id="com.springsource.com.sun.xml.messaging.saaj" version="1.3.0"/>
<unit id="com.springsource.org.apache.directory.server.protocol.shared" version="1.0.2"/>
<unit id="org.argeo.slc.support.osgi" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.springframework.aop" version="2.5.6.SEC01"/>
<unit id="org.argeo.slc.core" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.apache.bcel" version="5.1.0"/>
<unit id="com.springsource.org.apache.xerces" version="2.9.1"/>
<unit id="org.argeo.dep.osgi.directory.shared.asn.codec" version="0.9.5.0001"/>
<unit id="org.argeo.slc.support.equinox" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="com.springsource.org.postgresql.jdbc3" version="8.3.603"/>
<unit id="com.springsource.org.apache.directory.shared.asn1" version="0.9.5.5"/>
<unit id="org.argeo.dep.osgi.jackrabbit" version="1.6.0.0003"/>
<unit id="org.argeo.server.tomcat" version="0.1.2.r3231"/>
<unit id="com.springsource.org.castor" version="1.2.0"/>
<unit id="com.springsource.org.apache.activemq.pool" version="5.2.0"/>
<unit id="com.springsource.org.apache.xmlcommons" version="1.3.4"/>
<unit id="org.argeo.slc.ria" version="0.12.1.SNAPSHOT-r3239"/>
<unit id="org.argeo.security.core" version="0.1.2.r3231"/>
<unit id="org.argeo.server.activemq.broker" version="0.1.2.r3231"/>
<unit id="org.argeo.slc.server" version="0.12.1.SNAPSHOT-r3239"/>
<repository location="http://www.argeo.org/projects/slc/sdk-dev/"/>
</location>
<location path="${system_property:user.home}/.m2/repository/org/apache/commons/com.springsource.org.apache.commons.collections/3.2.1" type="Directory"/>
</locations>
</target>
