<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd"
	default-lazy-init="false">

	<import resource="classpath:org/argeo/slc/activemq/spring.xml" />

	<bean id="slcDefault.jms.agent" class="org.argeo.slc.jms.JmsAgent" abstract="true">
		<property name="jmsTemplate" ref="slcDefault.jms.jmsTemplate" />
		<property name="agentRegister" ref="slcJms.destination.agent.register" />
		<property name="agentUnregister" ref="slcJms.destination.agent.unregister" />
	</bean>

	<!-- Templates -->
	<bean id="slcTemplate.jms.agentListenerContainer" class="org.argeo.slc.jms.AgentListenerContainer"
		abstract="true">
		<property name="connectionFactory" ref="slcDefault.jms.connectionFactory" />
		<property name="messageConverter" ref="slcDefault.jms.castorMessageConverter" />
		<property name="pubSubDomain" value="true" />
	</bean>


</beans>