<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Views --> 
   <extension
         point="org.eclipse.ui.views">
	   <view
	         id="org.argeo.slc.client.ui.jcrExecutionModulesView"
	         class="org.argeo.eclipse.spring.SpringExtensionFactory"
	         icon="icons/execution_module.gif"
	         name="Execution"
	         restorable="true">
	   </view>
	   <view
	         id="org.argeo.slc.client.ui.jcrResultListView"
	         class="org.argeo.eclipse.spring.SpringExtensionFactory"
	         icon="icons/results.gif"
	         name="Results"
	         restorable="true">
	   </view>
	   <view
	         id="org.argeo.slc.client.ui.jcrResultTreeView"
	         class="org.argeo.eclipse.spring.SpringExtensionFactory"
	         icon="icons/results.gif"
	         name="Results"
	         restorable="true">
	   </view>
	   <view
	         id="org.argeo.slc.client.ui.jcrProcessListView"
	         class="org.argeo.eclipse.spring.SpringExtensionFactory"
	         name="Processes"
	         icon="icons/processes.gif"
	         restorable="true">
	   </view>
   </extension>
	
	<!-- Commands definitions --> 
   	<extension
    	point="org.eclipse.ui.commands">
		<command
	        defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
	        id="org.argeo.slc.client.ui.updateModule"
	    	name="Update Module">
	    </command>
	    
	    <!-- Commands that do not need dependency injection --> 
	    <command
	        defaultHandler="org.argeo.slc.client.ui.commands.AddResultFolder"
	        id="org.argeo.slc.client.ui.addResultFolder"
	    	name="Add result folder">
	    </command>
	    <command
        	id="org.argeo.slc.client.ui.deleteItems"
            defaultHandler="org.argeo.slc.client.ui.commands.DeleteItems"
            name="Delete selected item(s)">
    	</command>
	    <command
	        defaultHandler="org.argeo.slc.client.ui.commands.RenameResultFolder"
	        id="org.argeo.slc.client.ui.renameResultFolder"
	    	name="Rename folder">
	    </command>
	    <command
	        defaultHandler="org.argeo.slc.client.ui.commands.RenameResultNode"
	        id="org.argeo.slc.client.ui.renameResultNode"
	    	name="Rename result">
	    </command>
	    <command
	        defaultHandler="org.argeo.slc.client.ui.commands.RefreshJcrResultTreeView"
	        id="org.argeo.slc.client.ui.refreshJcrResultTreeView"
	    	name="Refresh">
	    	<commandParameter
         		id="org.argeo.slc.client.ui.param.refreshType"
         		name="Refresh type">
  	 		</commandParameter>
	    </command>
    </extension>
   
	<!-- Menu definitions -->
	<extension
    	id="menu:org.eclipse.ui.main.menu"
        point="org.eclipse.ui.menus">
		<menuContribution
        	locationURI="toolbar:org.argeo.slc.client.ui.jcrExecutionModulesView">
			<command
				commandId="org.argeo.slc.client.ui.updateModule"
				icon="icons/refresh.png"
				label="Update module"
				tooltip="Update module">
			</command>
		</menuContribution>   
	</extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.slc.client.ui.SlcExecutionPerspective"
            icon="icons/slc_execution_perspective.gif"
            id="org.argeo.slc.client.ui.slcExecutionPerspective"
            name="SLC Execution">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="false"
            icon="icons/batch.gif"
            id="org.argeo.slc.client.ui.processEditor"
            name="Process">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.argeo.slc.client.ui.editors.ProcessEditorInputFactory"
            id="org.argeo.slc.client.ui.processEditorInputFactory">
      </factory>
   </extension>
   <extension
           point="org.eclipse.ui.activities">
     </extension>
  <extension
           point="org.eclipse.ui.activities">
        <activity
              description="SLC users"
              id="org.argeo.slc.client.ui.slcActivity"
              name="SLC">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.slc.user,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <!-- TODO: find a way to exclude evrything -->
        <activityPatternBinding
              activityId="org.argeo.slc.client.ui.slcActivity"
              isEqualityPattern="true"
              pattern="org.argeo.slc.client.ui/org.argeo.slc.client.ui.slcExecutionPerspective">
        </activityPatternBinding>
        <activityPatternBinding
              activityId="org.argeo.security.ui.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.slc.client.ui/org.argeo.slc.client.ui.slcExecutionPerspective">
        </activityPatternBinding>
        <activityPatternBinding
              activityId="org.argeo.security.ui.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.jcr.ui.explorer/org.argeo.jcr.ui.explorer.perspective">
        </activityPatternBinding>
        <activityPatternBinding
              activityId="org.argeo.security.ui.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.security.ui/org.argeo.security.ui.userHomePerspective">
        </activityPatternBinding>
  </extension>
</plugin>
