<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import
		resource="classpath:/org/argeo/slc/ws/client/spring/applicationContext.xml" />
	<import resource="classpath:/org/argeo/slc/ant/nonDepContext.xml" />

	<bean name="executionBuildListener"
		class="org.argeo.slc.ant.SlcExecutionBuildListener">
		<property name="notifiers">
			<list>
				<ref bean="slcDefault.ws.client.slcExecutionNotifier" />
			</list>
		</property>
	</bean>

	<bean id="testResult"
		parent="slcDefault.test.basicTreeTestResult">
		<property name="listeners">
			<list merge="true">
				<ref
					bean="slcDefault.ws.client.treeTestResultWsNotfier" />
			</list>
		</property>
	</bean>
</beans>
