<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="Argeo SLC PDE Builder">
         <property
               name="appName"
               value="Argeo SLC PDE Builder">
         </property>
      </product>
   </extension>

</plugin>
