<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<!-- Perspectives --> 
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SLC Distribution"
            class="org.argeo.slc.client.ui.dist.DistributionPerspective"
            id="org.argeo.slc.client.ui.dist.distributionPerspective"
            icon="icons/distribution_perspective.gif">
      </perspective>
   </extension>
   <!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.slc.client.ui.dist.artifactsBrowser"
            name="Artifacts browser">
      </view>
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.slc.client.ui.dist.queryArtifactsForm"
            name="Query Artifacts Form">
      </view>
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.slc.client.ui.dist.queryBundlesForm"
            name="Query Bundles Form">
      </view>
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.slc.client.ui.dist.queryArtifactsText"
            name="Artifacts query builder">
      </view>
   </extension>
   <!-- Editors -->
   <extension
           point="org.eclipse.ui.editors">
	     <editor
	          class="org.argeo.eclipse.spring.SpringExtensionFactory"
              id="org.argeo.slc.client.ui.dist.genericJcrQueryEditor"
              name="JCR Query"
              icon="icons/distribution_perspective.gif"
              default="false">
        </editor>
    </extension>
    <!-- Commands --> 
   	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.slc.client.ui.dist.openGenericJcrQueryEditor"
            name="OpenGenericJcrQueryEditor ">
    	</command>
    </extension>
	<extension
         id="menu:org.eclipse.ui.main.menu"
         point="org.eclipse.ui.menus">
        <!-- Queries --> 
		<!-- <menuContribution
                allPopups="false"
                locationURI="menu:org.eclipse.ui.main.menu?after=edit">
        	<menu label="Queries"
              mnemonic="Queries"
              id="org.argeo.slc.client.ui.dist.queryMenu">
                <command
                      commandId="org.argeo.slc.client.ui.dist.openGenericJcrQueryEditor"
                      disabledIcon="icons/saveDisabled.gif"
                      icon="icons/results.gif"
                      label="JCR Query"
                      style="push"
                      tooltip="Open JCR query editor">
                </command>
             </menu>
          </menuContribution> -->
	</extension>
</plugin>
