<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi-1.1.xsd
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<osgi:service interface="org.argeo.slc.execution.ExecutionContext"
		ref="executionContext" />

	<bean class="org.argeo.slc.osgi.MultipleServiceExporterPostProcessor">
		<property name="interfaces">
			<list>
				<value>org.argeo.slc.execution.ExecutionFlow
				</value>
			</list>
		</property>
	</bean>
</beans>