<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="SLC IDE">
<locations>
<location path="${system_property:user.home}/dev/tools/eclipse-3.5.1-delta-pack" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.tmatesoft.svnkit.feature.group" version="1.3.1.6109"/>
<unit id="com.sun.jna.feature.group" version="3.1.0"/>
<unit id="com.collabnet.subversion.merge.feature.feature.group" version="1.10.0"/>
<unit id="org.tigris.subversion.subclipse.feature.group" version="1.6.5"/>
<unit id="org.tigris.subversion.subclipse.mylyn.feature.group" version="3.0.0"/>
<unit id="org.tigris.subversion.clientadapter.feature.feature.group" version="1.6.4.1"/>
<unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.6.6"/>
<unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="1.0.7"/>
<unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.6.4"/>
<repository location="http://subclipse.tigris.org/update_1.6.x"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.cvs.feature.group" version="1.1.101.R35x_v20090811-7E79FEd9KKF5H2YDWFLLBL01A16"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.2.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="1.1.2.v20090912-0400-e3x"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.5.1.r351_v20090901-7G7MAA7lQiEeE7LKsaYgOK58fdAa"/>
<unit id="org.eclipse.pde.feature.group" version="3.5.1.R35x_v20090811-7Z7_F9zFDX-aT6Ywvh8_S93"/>
<unit id="org.eclipse.rse.feature.group" version="3.1.1.v200907301400-7L5AE8wqaHPUdsOqKFUpxnbxGiz-"/>
<unit id="org.eclipse.tm.terminal.sdk.feature.group" version="3.0.1.v200907301400-7N-FBaC5OqdP-0Zr1iqaZNOEG"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.0.1.v200909161031"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="2.2.1.v20090814-1000-7C7F1BLxlfAqjMDHunFV5S-_YY-Q"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.jdt.feature.group" version="3.5.1.r351_v20090810-0600-7r88FEoFI0WTo6Az-1qFRHm37ChJ"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.1.1.v200907161031-7H6FM_DxtkM-7aeTHKEBbQqcZOZ2"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.1.2.v200908101420-77-FGCCcNBC-BhLcE_Pm"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.1.1.v200908111817-37718s733L3J555J5H"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.1.1.v200908111817-37718s733L3J555J5H"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.1.1.v200908120400-7R77FSpEVw2xXR0CtKvX6bG6a2qU"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.0.2.v200908271520-7R7T8sFIhIehWg454rq_U1"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.1.1.v20090817-7A2FBa9xFaGovXGKcCWMK2355"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.1.1.v200908121609-7E77FBfDlwYa_9sdy2q77doi14gl"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
</locations>
<implicitDependencies>
<plugin id="org.eclipse.wst.xml.ui"/>
</implicitDependencies>
</target>
