<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2007-2012 Mathieu Baudier

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="true">

	<bean id="driver.file.template"
		class="org.argeo.slc.web.ajaxplorer.file.FileDriver"
		abstract="true">
		<property name="actions">
			<map>
				<entry key="ls" value-ref="action.file.ls" />
				<entry key="download" value-ref="action.file.download" />
				<entry key="image_proxy"
					value-ref="action.file.image_proxy" />
				<entry key="upload" value-ref="action.file.upload" />
				<entry key="mkdir" value-ref="action.file.mkdir" />
				<entry key="delete" value-ref="action.file.delete" />
			</map>
		</property>
	</bean>

	<!-- ACTIONS FS -->
	<bean id="action.file.ls"
		class="org.argeo.slc.web.ajaxplorer.file.FileLsAction" />

	<bean id="action.file.download"
		class="org.argeo.slc.web.ajaxplorer.file.FileDownloadAction" />

	<bean id="action.file.image_proxy"
		class="org.argeo.slc.web.ajaxplorer.file.FileImageProxyAction" />

	<bean id="action.file.upload"
		class="org.argeo.slc.web.ajaxplorer.file.FileUploadAction" />

	<bean id="action.file.mkdir"
		class="org.argeo.slc.web.ajaxplorer.file.FileMkdirAction" />

	<bean id="action.file.delete"
		class="org.argeo.slc.web.ajaxplorer.file.FileDeleteAction" />
</beans>