<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Layers"
            icon="icons/sample.gif"
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.slc.ui.gis.layersView">
      </view>
   </extension>
   	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.slc.ui.gis.loadLayersFromBackend"
            name="loadLayersFromBackend ">
    	</command>
    </extension>
	<extension
         point="org.eclipse.ui.menus">
        <!-- Queries --> 
		<menuContribution
                allPopups="false"
                locationURI="toolbar:org.argeo.slc.ui.gis.layersView">
             <command
                  commandId="org.argeo.slc.ui.gis.loadLayersFromBackend"
                  disabledIcon="icons/sample.gif"
                  icon="icons/sample.gif"
                  label="Load Layers"
                  style="push"
                  tooltip="Load layers from backend">
            </command>
        </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.argeo.slc.client.gis.perspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               id="org.argeo.slc.ui.gis.mapView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.slc.ui.gis.GisPerspectiveFactory"
            icon="icons/gis.gif"
            id="org.argeo.slc.client.gis.perspective"
            name="GIS">
      </perspective>
   </extension>

</plugin>
