<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CmsE4Application"
         name="CMS E4 Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run class="org.argeo.cms.e4.rcp.CmsE4Application"></run>
      </application>
   </extension>
</plugin>
