<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="slcExecutionRequestEp"
		class="org.argeo.slc.ws.process.SlcExecutionRequestEp">
		<property name="marshaller" ref="marshaller" />
		<property name="unmarshaller" ref="marshaller" />
	</bean>

	<bean id="marshaller"
		class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation"
			value="classpath:org/argeo/slc/castor/process/mapping.xml" />
	</bean>

	<bean id="endPointMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="mappings">
			<props>
				<prop
					key="{http://argeo.org/projects/slc/schemas}slc-execution-request">
					slcExecutionRequestEp
				</prop>
			</props>
		</property>
		<property name="interceptors">
			<bean
				class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
		</property>
	</bean>

	<bean id="slcDefinition"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="schema" />
		<property name="portTypeName" value="Slc" />
		<property name="locationUri"
			value="http://localhost:8080/argeo.slc.ws/slcService/" />
		<property name="targetNamespace"
			value="http://argeo.org/projects/slc/definitions" />
		<property name="requestSuffix" value="-request" />
	</bean>

	<bean id="schema"
		class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/slc.xsd" />
	</bean>
</beans>