<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         id="org.argeo.slc.client.rap.product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Slc RAP Product"
            application="org.eclipse.ui.ide.workbench"
            >
         <property
               name="windowImages"
               value="icons/argeo-icon-256.png">
         </property>
         <property
               name="appName"
               value="SLC">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.argeo.slc.client.rap.SlcSecureRap"
            parameter="slc"
            id="org.argeo.slc.client.rap.slcSecureRap">
      </entrypoint>
   </extension>
     
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Slc Execution"
            class="org.argeo.slc.client.ui.perspectives.SlcExecution"
			id="org.argeo.slc.client.ui.perspectives.slcExecution"
            icon="icons/slc_execution_perspective.gif">
      </perspective>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  id="exitCommand"
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
      </menuContribution>
   </extension>
  <!-- <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.QuitHandler"
            id="org.eclipse.ui.file.exit"
            name="Exit">
      </command> 
   </extension> -->
</plugin>
