<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!--
		<import resource="classpath:/org/argeo/slc/server/spring/jmx.xml" />
	-->
	<import resource="security.xml" />

	<import resource="osgi.xml" />

	<!-- Hibernate instrumentation-->
	<bean id="osivInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!--  Properties -->
	<bean
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="contextOverride" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- Web Services transactions -->
	<aop:config>
		<aop:pointcut id="epMethods"
			expression="execution(* org.springframework.web.servlet.mvc.Controller.handleRequest(..))" />
		<aop:advisor advice-ref="epAdvice" pointcut-ref="epMethods" />
	</aop:config>

	<tx:advice id="epAdvice" transaction-manager="hibernateTransactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

</beans>