<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="marshaller"
		class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation"
			value="classpath:org/argeo/slc/castor/process/mapping.xml" />
	</bean>

	<bean id="messageFactory"
		class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />

	<bean id="webServiceTemplate"
		class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory" />
		<property name="marshaller" ref="marshaller"/>
		<property name="unmarshaller" ref="marshaller"/>
		<property name="defaultUri"
			value="http://localhost:8080/org.argeo.slc.webapp/slcService/" />
	</bean>

</beans>