<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspective --> 
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			class="org.argeo.slc.akb.ui.AkbEnvPerspective"
			icon="icons/akb.gif"
            id="org.argeo.slc.akb.ui.akbEnvPerspective"
            name="AKB">
		</perspective>
		<perspective
			class="org.argeo.slc.akb.ui.AkbTemplatesPerspective"
			icon="icons/template.gif"
            id="org.argeo.slc.akb.ui.akbTemplatesPerspective"
            name="AKB Templates">
      </perspective>
   </extension>
    <!-- Views -->
    <extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/searchView.png"
			id="org.argeo.slc.akb.ui.akbDefaultView"
			name="Search"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/treeView.png"
			id="org.argeo.slc.akb.ui.akbTemplatesTreeView"
			name="AKB Templates"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/treeView.png"
			id="org.argeo.slc.akb.ui.environmentsTreeView"
			name="AKB Environments"
			restorable="true">
		</view>
	</extension>
	<!-- Editors -->
    <extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/template.gif"
			id="org.argeo.slc.akb.ui.envTemplateEditor"
			name="Environment Template Editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/addConnector.gif"
			id="org.argeo.slc.akb.ui.connectorAliasEditor"
			name="Connector Alias Editor">
		</editor>
		<!-- ITEMS EDITORS --> 
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/jdbcQuery.gif"
			id="org.argeo.slc.akb.ui.jdbcQueryTemplateEditor"
			name="JDBC Query Template Editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/sshFile.gif"
			id="org.argeo.slc.akb.ui.sshFileTemplateEditor"
			name="SSH File Template Editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/sshCommand.png"
			id="org.argeo.slc.akb.ui.sshCommandTemplateEditor"
			name="SSH Command Template Editor">
		</editor>
	</extension>
	<!-- Commands -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.slc.akb.ui.openAkbNodeEditor"
			name="Open Akb Node editor">
        	<commandParameter
     			id="param.nodeType"
     			name="Corresponding JCR node type">
 			</commandParameter>
        	<commandParameter
     			id="param.nodeSubtype"
     			name="A subtype if needed">
 			</commandParameter>
        	<commandParameter
     			id="param.nodeJcrId"
     			name="The Node JCR ID if needed">
 			</commandParameter>
        	<commandParameter
     			id="param.currEnvJcrId"
     			name="The current environment JCR ID, might be an active or a template env">
 			</commandParameter>
        	<commandParameter
     			id="param.parentNodeJcrId"
     			name="The Parent Node JCR ID if needed">
 			</commandParameter>
 		</command>
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.slc.akb.ui.createAkbNode"
			name="Create a new Akb Node">
        	<commandParameter
     			id="param.nodeType"
     			name="Corresponding JCR node type">
 			</commandParameter>
        	<commandParameter
     			id="param.parentNodeJcrId"
     			name="The Parent Node JCR ID if needed">
 			</commandParameter>
 		</command>
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.slc.akb.ui.deleteAkbNodes"
			name="Delete Akb Node(s) and close corresponding editors">
         	<commandParameter
     			id="param.nodeJcrId"
     			name="The Node JCR ID if needed">
 			</commandParameter>
  		</command>
		<command
			defaultHandler="org.argeo.slc.akb.ui.commands.ForceRefresh"
			id="org.argeo.slc.akb.ui.forceRefresh"
			name="Force refresh of the current active part if such an action is possible">
  		</command>
  		<command
			defaultHandler="org.argeo.slc.akb.ui.commands.OpenTracker"
			id="org.argeo.slc.akb.ui.openTracker"
			name="Report a bug in Argeo's tracker">
  		</command>
	</extension>		
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
        	locationURI="toolbar:org.argeo.slc.akb.ui.akbTemplatesTreeView">
            <command
            	commandId="org.argeo.slc.akb.ui.forceRefresh"
                icon="icons/refresh.png"
	                label="Refresh"
                tooltip="Refresh the whole browser">
            </command>
        </menuContribution>
		<menuContribution
        	locationURI="toolbar:org.argeo.slc.akb.ui.environmentsTreeView">
            <command
            	commandId="org.argeo.slc.akb.ui.forceRefresh"
                icon="icons/refresh.png"
	                label="Refresh"
                tooltip="Refresh the whole browser">
            </command>
        </menuContribution>
      
      	<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu">
			<menu
				id="help"
				label="Help">
				<command
					commandId="org.argeo.slc.akb.ui.openTracker"
					label="Report a bug..."
					style="push">
				</command>
				<command
					commandId="org.eclipse.ui.help.aboutAction"
					label="About"
					style="push">
				</command> 		</menu>
      </menuContribution>	
	</extension>
</plugin>
